<div class="container">
  <mat-form-field>
    <mat-label>Clase:</mat-label>
    <mat-select [(ngModel)]="newEvent.class">
      <mat-option value="Angular">Angular</mat-option>
      <mat-option value="React">React</mat-option>
      <mat-option value="Vue">Vue</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Horario:</mat-label>
    <mat-select [(ngModel)]="newEvent.time">
      <mat-option *ngFor="let time of timeOptions" [value]="time">{{ time }}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="createEvent(selectedDate, eventName)">Guardar</button>
</div>

<div class="event-list">
  <h3>Eventos del día</h3>
  <ul>
    <li *ngFor="let event of events">{{ event }}</li>
  </ul>
</div>

<div class="calendar-container">
  <mat-calendar [selected]="selectedDate" (selectedChange)="onDateSelected($event)"></mat-calendar>
</div>
