<div class="course-card" *ngFor="let course of courses">
  <mat-card class="custom-card"  (click)="selectCourse(course)">
    <mat-card-header>
      <mat-card-title>{{ course.name }}</mat-card-title>
      <mat-card-subtitle>{{ course.duration }} hours</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ course.description }}</p>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="selectedCourse" class="course-form">
  <mat-card>
    <mat-card-content>
      <mat-form-field>
        <input matInput [(ngModel)]="selectedCourse.name" placeholder="Course Name">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput [(ngModel)]="selectedCourse.description" placeholder="Course Description"></textarea>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" [(ngModel)]="selectedCourse.duration" placeholder="Course Duration">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="saveCourse()">Save</button>
      <button mat-button color="warn" (click)="confirmDeleteCourse(selectedCourse.id)">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>

<button mat-raised-button class="add-button" (click)="addCourse()">Add New Course</button>
