<mat-drawer-container class="example-container" autosize>

  <!-- SIDEBAR -->
  <mat-drawer 
    [opened]="!isMobile()"
    #drawer 
    class="example-sidenav" 
    [mode]="isMobile() ? 'over' : 'side'">
  
    <!-- Barra lateral -->
    <mat-toolbar color="primary">
      <span>Menú</span>
    </mat-toolbar>

    <!-- Botones -->
    <mat-nav-list>
      <a mat-list-item routerLink="home" >Inicio</a>
      <a mat-list-item routerLink="users" >Usuarios</a>
      <a mat-list-item routerLink="courses" >Cursos</a>
      <a mat-list-item routerLink="calendar" >Calendar</a>
      <a (click)="logout()" mat-list-item>Cerrar sesión</a>
    </mat-nav-list>
  </mat-drawer>
  <!-- SIDEBAR -->

  <!-- CONTENIDO A LA DERECHA -->
  <div class="example-sidenav-content">

    <!-- TOOLBAR SUPERIOR -->
    <mat-toolbar color="primary">
      <div class="container-fluid">
        <div class="row justify-content-between align-items-center">
          <div class="col-auto">
            <button
              (click)="drawer.toggle()"
              mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
          </div>
          <div class="col-auto">
            <span appFontSize>Escuela</span>
          </div>
          <div class="col"></div>
          <div *ngIf="authUser$ | async as user" class="col-auto">
            <div>{{ user?.firstName }}</div>
          </div>
        </div>
      </div>
    </mat-toolbar>
    
    <main class="container-fluid p-3">
      <div *ngIf="isLoading" class="alert alert-info">Cargando...</div>
      
      <app-user-list *ngIf="mostrarComponent"></app-user-list>

      <router-outlet></router-outlet>
    </main>
        
  </div>
  <!-- CONTENIDO A LA DERECHA -->

</mat-drawer-container>
